<!--
- Name: GetPaid Login
- Authors: ...
- Version: 0.0.1b
- Comment: Login page adapted from https://github.com/Ciul/angular-facebook
-->
<div class="container">
  <div class="jumbotron jumbotron-gp">
    <div class="col-md-6">
      <a class="navbar-brand navbar-brand-gp font-override-OpenSans" href="index.html"><img data-src="img/logo-white.png" src="img/logo-white.png" class="logo-footer"></a>
      <br><br>
      <h1 class="h1-gp">This is the easiest way to pay and get paid.</h1>
      <br>
      <p class="p-gp">Got an account? Log in.</p>
      <button type="button" class="btn btn-primary btn-lg" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login/Signup with Facebook</button>
      <img data-ng-show="logged" data-ng-disabled="!facebookReady" src ="img/ajax-loader.gif">
    </div>
  </div>

  <div class="footer">
      <p class="logo-footer">
        <img data-src="img/logo-monogram.png" width="203" height="69" src="img/logo-monogram.png">
      </p>
      <p>
        Created
        <span class="amp">by</span><br>
        <a href="https://github.com/shuotian">Shoutian Chen</a>,
        <a href="https://github.com/joshuaheng">Joshua Heng</a>,<br>
        <a href="https://github.com/josephmilla">Joseph Milla</a>,
        <span class="amp">and</span>
        <a href="https://github.com/gadesxion">Shouvik Sayef</a>
      </p>
      <p>
        Thanks
        <span class="amp">to</span><br>
        <a href="https://wiki.engr.illinois.edu/display/cs411fa13/Syllabus">The guys</a>
        <span class="amp">at</span>
        <a href="https://wiki.engr.illinois.edu/display/cs411fa13/Syllabus">CS411</a><br>
      </p>
      <p>
        ©2013<br>
        GetPaid Development Team
      </p>
  </div>
</div>