<div class="container">	
	<!-- NAVIGATION -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand navbar-brand-gp font-override-OpenSans" href="#/receipts/">
				<img data-src="img/logo-monogram.png" width="102" height="34" src="img/logo-monogram.png" class="logo-footer">
			</a>
		</div>
	    
	  <div class="collapse navbar-collapse font-override-OpenSans" id="bs-example-navbar-collapse-1">
	  	<ul class="nav navbar-nav navbar-right">
	      <li ng-class="{active: slug == 'add'}">
	      	<a href="#/receipts/add">Add</a>
	      </li>
	      
	      <li ng-class="{active: slug == 'back'}">
	      	<a href="#/receipts/">Back</a>
	      </li>
	    </ul>
	  </div>
	</nav>
<div ng-controller = "NewReceiptCtrl">
	<form name="myForm">
		<!-- FIRST ROW -->
		<div class="row">
			<div class="col-lg-5">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">Store Name</span>
						<input type="text" ng-model="form.storename" class="form-control" placeholder="Enter store name here" required>
					</div>
    		</div>
		</div>
		<!--Store Name: <input type="text" ng-model="form.storename" required/>
		<br/><br/>-->

		<!-- SECOND ROW -->
		<br><br>
		<div class="row">
			<div class="col-lg-5">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">Date</span>
						<input type="text" ng-model="form.receiptDate" class="form-control" placeholder="Enter date here" required>
					</div>
    		</div>
		</div>
		<!--Date: <input type="date" ng-model="form.receiptDate" required/>
	 	<br/><br/>-->

		<!-- THIRD ROW -->
		<!--
		<br><br>
		<div class="row">
			<div class="col-lg-5">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">Shared Receipt?</span>
						<span class="input-group-addon input-group-addon-o btn btn-success btn-lg btn-lg-o" role="button" type=button ng-model="form.sharedReceipt" value = "1" ng-change="receiptPaid('receipt',1)">
							<span class="glyphicon glyphicon-ok"></span>
						</span>
						<span class="input-group-addon input-group-addon-o btn btn-danger btn-lg btn-lg-o" role="button" type=button ng-model="form.sharedReceipt" value = "0" ng-change="receiptPaid('receipt',0)">
							<span class="glyphicon glyphicon-remove"></span>
						</span>
					</div>
    		</div>
		</div>
		-->

	 	Shared Receipt: <input type="radio" ng-model="form.sharedReceipt" value = "1" ng-change="receiptPaid('receipt',1)">
	 	Yes<input type="radio" ng-model="form.sharedReceipt" value = "0" ng-change="receiptPaid('receipt',0)">
	 	No
	 	<br/>

	 	<!--Displays the items in the current newReceipt model-->

	 	<label>Items:</label>
	 	<div ng-repeat="item in form.items">
	 		{{item.name}} - ${{item.cost}}[ <a href="" ng-click="removeItem($index)">Remove Item</a> ]
	 	</div>

	 	<!--Display input fields for adding details of each item to the newItem model-->
	 	<div>Item Name: <input type="text" ng-model="newItem.name"/></div><br/>
	 	<div ng-model="testid" ng-show="hidden"></div>
	 	<div ng-show="newItem.name.length">	
	 		<table id="itemTextResults">
	      <tr><th>Item</th></tr>
	      <tr ng-repeat="item in names | filter:newItem.name">
	        <td ng-click="attachitem(item)">{{item}}</td>
	      </tr>
	    </table><br/>
	    </div>

	  <!-- # ROW -->
		<br><br>
		<div class="row">
			<div class="col-lg-5">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">Quantity</span>
						<input type="number" ng-model="newItem.quantity" class="form-control" required>
					</div>
    		</div>
		</div>

	 	<!--<div>Quantity: <input type="number" ng-model="newItem.quantity"/></div><br/>-->

	 	<!-- # ROW -->
		<br><br>
		<div class="row">
			<div class="col-lg-5">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">Cost</span>
						<input type="text" ng-model="newItem.cost" class="form-control" placeholder="$0.00" required>
					</div>
    		</div>
		</div>

	 	<!--<div>Cost: <input type="text" ng-model="newItem.cost" /></div><br/>-->

	 	Shared: <input type="radio" ng-model="newItem.shared" value = "1" ng-change="receiptPaid('item',1)">Yes
	 	<input type="radio" ng-model="newItem.shared" value = "0" ng-change="receiptPaid('item',0)">No<br/>

	 	<!--Displays fields to add shared users to the item if the item is shared by someone else-->
	 	<div ng-show="newItem.shared">
	 		<label>User(s):</label>
	 		<div ng-repeat="user in newItem.users">
	 		<!--Displays the user(s) for the current shared item in newItem-->
	 			<div>{{user}}[ <a href="" ng-click="removeUser($index)">Remove Payer</a> ]</div>
	 		</div>
	 		<div>Shared User: <input type="text" ng-model="payer"/></div><br/>
	 		<div ng-model="payerid" ng-show="hidden"></div>
	 	<!--Displays a list of facebook friends-->	
	 	<div ng-show="payer.length">	
	 		<table id="searchTextResults">
	      <tr><th>FB id</th><th>Name</th></tr>
	      <tr ng-repeat="friend in friends.data | filter:payer">
	        <td>{{friend.id}}</td>
	        <td ng-click="attach(friend.name, friend.id)">{{friend.name}}</td>
	      </tr>
	    </table>
	    </div>
	 		[ <a href="" ng-click="addSharedUser(newItem,payer,payerid)">add this user</a> ]
	 	</div>

	 	<!-- # ROW -->
		<br><br>
		<div class="row">
			<div class="col-lg-5">
				<div class="input-group input-group-lg">
					<span class="input-group-addon input-group-addon-o btn btn-primary btn-lg btn-lg-o" role="button" type=button ng-click="addItem(newItem)">
						<span class="glyphicon glyphicon-plus"></span>
					</span>
    		</div>
    	</div>
		</div>
		<!--[ <a href="" ng-click="addItem(newItem)">add item</a> ]-->
	</form>
	
	<br><br>

	<div class="row">
		<div class="col-lg-5">
			<button ng-click="cancel()" class="btn btn-primary btn-lg" role="button">Cancel</button>
			<button ng-click="save()" class="btn btn-primary btn-lg" role="button">Save</button>
		</div>
	</div>

	<br><br>

	Debug View:
	<pre>
	form={{form}} payer ={{payer}}
	<br/>
	master={{master}}
	</pre>
</div>
</div>